{% extends "base.html" %}

{% block title %}Cadastros de Perfil | Fampertec{% endblock %}

{% block content %}
  <h1>Cadastros de Perfil</h1>
  <p class="muted"></p>

  <div class="form__actions">
    {% if is_admin %}
      <a class="btn" href="{% url 'cadastro_perfil' %}">Cadastrar</a>
    {% endif %}
    <a class="btn btn--ghost" href="{% url 'home' %}">Voltar</a>
  </div>

  <div class="table table--perfis">
    <div class="table__row table__head">
      <div>Nome completo</div>
      <div>Email</div>
      <div class="table__actions-head">Ações</div>
    </div>

    {% for perfil in perfis %}
      <div class="table__row">
        <div><a class="nav__link" href="{% url 'detalhe_perfil' perfil.id %}">{{ perfil.nome_completo }}</a></div>
        <div>{{ perfil.email }}</div>
           <div class="table__actions">
          {% if is_admin %}
            <a class="btn btn--ghost" href="{% url 'editar_perfil' perfil.id %}">Editar</a>
            <form method="post" action="{% url 'excluir_perfil' perfil.id %}" style="display:inline;">
              {% csrf_token %}
              <button class="btn btn--ghost" type="submit">Excluir</button>
            </form>
          {% else %}
            <span class="muted">-</span>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <div class="table__empty">Nenhum cadastro encontrado.</div>
    {% endfor %}
  </div>
{% endblock %}


